.topBarButton {
    color: #d4d4d8;
}

.topBarButton:hover {
    color: #a1a1aa;
}

.moonButton {
    color: #475569;
}

.moonButton:hover {
    color: #f7e877;
}

.fireButton {
    color: #475569;
}

.fireButton:hover {
    color: #ea580c;
}

.windButton {
    color: #475569;
}

.windButton:hover {
    color: #1db957;
}

.rainButton {
    color: #475569;
}

.rainButton:hover {
    color: #2563eb;
}
